section#contact{
    width:830px;
    height:650px;
    margin:0 auto;
    font-family:'Segoe UI',sans-serif
    }
    /* Atur Posisi, Ukuran, Serta Tampilan Pada Form */
    div#contact-form{
    text-align:center;
    border:1px solid rgb(177, 132, 10);
    width:300px;
    padding:0 50px 15px;
    margin-top:50px;
    margin-bottom: 0ch;
    box-shadow:0 0 15px;
    border-radius:6px;
    float: center
    }
    /* Atur Heading */
     h2{
    margin-top:40px
    }
    /* Atur Heading Line */
    h2{
    margin-top:-5px
    }
    /* Atur Label */
    label{
    float:left;
    font-size:16px
    }
    /* Atur Kolom Input Untuk Subyek Text */
    input[type="text"]{
    width:100%;
    margin-top:10px;
    height:35px;
    margin-bottom:25px;
    padding:10px;
    border:3px solid #2BC1F2
    }

    input[type="email"]{
        width:100%;
        margin-top:10px;
        height:35px;
        margin-bottom:25px;
        padding:10px;
        border:3px solid #2BC1F2
        }
    /* Atur Kolom Textarea */
    textarea{
    width:100%;
    border:3px solid #2BC1F2;
    padding:10px;
    margin-bottom:25px;
    margin-top:10px;
    height:100px;
    resize:none
    }
    /* Atur Kolom Submit */
    button[type="submit"]{
    width:100%;
    padding:10px 45px;
    background-color:#2BC1F2;
    border:none;
    color:#fff;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    font-family:'Segoe UI',sans-serif
    }